cloudflare_api_token = "YOUR_CLOUDFLARE_API_TOKEN"
account_id  = "YOUR_ACCOUNT_ID"
script_name = "worker"
compatibility_date = "YYYY-LL-DD"
worker_bundle_path = "dist/worker.mjs"
cron_schedules = ["*/30 * * * *"]
